body {
    margin: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 9.375em;
}

.card {
    width: 25em;
    margin: 0 auto;
    padding: 1.25em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}